*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins' , 'sans-serif';
}

a{
    text-decoration: none;
    color: black;
}

header{
    position: sticky;
    top: 0;
    background-color: #e3e6f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0px 5px 25px hsla(0, 0%, 0%, 0.219);
    z-index: 999;
    
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.nav-links li a{
    transition: 0.3s ease;
}

.nav-links li a:hover , .nav-links li a.active{
    color: #088178;
}

.nav-links li a.active::after , .nav-links li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    top: 25px;
    left: 0;

}

.nav-links a button{
    background-color: #e3e6f3;
}

.nav-links a button i{
    font-size: 20px;
}

.menu{
    display: none;
    align-items: center;
    gap: 30px;
    font-size: 22px;
}

.close{
    display: none;
}

.shop-banner{
    color: white;
    background-image: url(./img/about/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shop-banner h1{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: .5px;
}

.shop-banner p{
    font-size: 16px;
    letter-spacing: .5px;
    color: lightgrey;
}

.address {
  padding: 0 80px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.address div{
    width: 50%;
}

.address div h6{
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.address div h1{
    font-size: 38px;
    font-weight: 600;
}

.address div h5{
    margin: 10px 0;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    
}

.address div p{
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.address div p i{
    margin-right: 20px;
    font-weight: 500;
    color: black;
}

iframe{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20px;
    padding: 40px 80px;
    border: 1px solid lightgray;
    border-radius: 20px;

}

.contact-container .message{
    display: flex;
    flex-direction: column;
}

.contact-container .message p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .5px;
}

.contact-container .message h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}

.contact-container .message form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input , textarea{
    border: 1px lightgrey solid;
    padding: 10px 20px;
    font-family: 'Poppins' , 'sans-serif';
    width: 40vw;
    outline: 0;
    border-radius: 5px;
}

form textarea{
    height: 20vh;
}

.message button{
    width: 100px;
    padding: 10px 20px;
    background-color: #088178;
    color: white;
    margin-top: 20px;
    font-family: 'Poppins' , 'sans-serif';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.employee {
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 20px;
}

.employee div img{
    width: 70px;
    margin-right: 20px;
}

.employee div h4{
    font-size: 15px;
    letter-spacing: .5px;
}

.employee div p{
    font-size: 12px;
    color: grey;
}

.employee div p b{
    letter-spacing: .5px;
    color: black;
    font-weight: 500;

}

#newsletter{
    background-image: url(./img/banner/b14.png);
    background-color: rgb(4, 30, 66);
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

#newsletter p{
    font-size: 14px;
    margin-top: 15px;
    letter-spacing: .5px;
}

#newsletter span{
    color: gold;
}

#newsletter div:last-child{
    display: flex;
    height: 6vh;
}

#newsletter div:last-child input{
    width: 400px;
    padding: 0 20px;
    font-family: 'Poppins';
    letter-spacing: .5px;
    outline: 0;
}

#newsletter div:last-child button{
    font-family: 'Poppins';
    letter-spacing: .5px;
    font-weight: 500;
    padding: 0 20px;
    color: white;
    background-color: #088178;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 80px;
    margin-top: 50px;
    flex-wrap: wrap;
}

footer div h6{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-left: 5px;
}

footer p , footer a{
    letter-spacing: .5px;
    font-size: 14px;
    color: gray;
    padding: 0 5px;
}

footer div:first-child p span{
    font-weight: 600;
    color: black;
    padding-right: 5px;
}

footer div:first-child div{
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
}

footer div:first-child div i{
    margin-left: 5px;
    transition: .5s ease;

}

footer div:first-child div i:hover{
    color: #088178;
    transform: scale(1.2);
}

footer div:nth-child(2) , footer div:nth-child(3){
    display: flex;
    flex-direction: column;
}

footer div:nth-child(2) a, footer div:nth-child(3) a{
    cursor: pointer;
    transition: .15s ease;
}

footer div:nth-child(2) a:hover , footer div:nth-child(3) a:hover{
    color: #088178;
}
 
footer div:last-child div img{
    border: 1px solid #088178;
    border-radius: 5px;
    margin-top: 10px;
}

footer div:last-child div:last-child img{
    border: none;
    margin-top: 10px;
}

.last{
    text-align: center;
    color: gray;
    font-size: 14px;
    margin: 30px 0;
}

@media (max-width:1000px){

    .address {
    flex-direction: column;
    width: 100%;
}

.address div{
    width: 100%;
}

#newsletter {
    justify-content: center;
}

}

@media (max-width:799px) {

    header {
    padding: 20px 40px;
    }
    
    .nav {
        background-color: #E3E6F3;
        position: fixed;
        top: 0;
        right: -320px;
        padding: 85px 0 0 0;
        width: 300px;
        height: 100vh;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: .5s ease;


}

.nav-links{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 0 0 20px;
}

.nav-links li {
    margin-bottom: 30px;

    }

.menu{
    display: flex;
}

.cart{
    display: none;
}

.close{
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 22px;
}

.shop-banner {
    height: 20vh;
}

form input, textarea {
    width: 60vw;
}

.employee {
    width: 500px;
}

.contact-container .message {
    justify-content: center;
    align-items: center;
}

.contact-container {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    gap: 30px;

}

#newsletter {
    justify-content: center;
    padding: 0 40px;
}

footer {
    padding: 0 40px;
    margin-top: 20px;
}

footer div:first-child div i{
    margin-bottom: 15px;
}

}

@media (max-width:499px) {
    
    header {
    padding: 20px 20px;
}

.address div h1 {
    font-size: 26px;
}

.address {
    padding: 0 20px;
}

.contact-container {
    padding: 20px;
}

.contact-container .message h2 {
    font-size: 26px;
}

form input, textarea {
    width: 70vw;
}

    #newsletter p {
    text-align: center;
}

#newsletter div:last-child button{
    font-size: 10px;
    padding: 0 10px;
  }
#newsletter div:last-child input {
    width: 60vw;
    padding: 0 10px;
}

footer {
    padding: 0 10px;
    margin-top: 10px;
}

}